.col-md-3.col-sm-6
  .card-deck.mt-3
    .card.m-2
      = link_to image_tag asset_path(product.index_image, class: 'card-img-top'), product_path(product)
      .card-body
        %h4.card-title
          = product.name
        %p.card-text
          = "¥ #{product.price.to_s(:delimited)}"
          .row
            - if product.purchaser_id
              .text-danger.col-6{style: 'font-size: 20px;'}
                Sold Out
            - if current_user&.id == product.seller_id
              .col-6{style: 'font-size: 15px;'}
                （出品商品）
            
        .row
          = link_to '詳細', product_path(product), class: 'btn btn-outline-primary col-md-3 col-sm-4 col-3 mr-2'
          /出品者かadminの場合
          -if current_user
            - if (current_user&.id  == product.seller_id) || (current_user&.id  == product.purchaser_id) || (current_user&.admin)
              - if product.purchaser_id
                = link_to 'Chat', speak_path(product, message_type: 'after_purchased'), class: 'btn btn-outline-secondary col-md-3 col-sm-4 col-3 mr-2', data: {"turbolinks" => false}
              - else
                = link_to '編集', edit_product_path(product), class: 'btn btn-outline-success col-md-3 col-sm-4 col-3 mr-2'
                = link_to '削除', product_path(product), method: :delete, data: { confirm: '削除してよろしいですか？' }, class: 'btn btn-outline-danger col-md-3 col-sm-4 col-3'
