.col-md-4
  .card.m-4
    = image_tag product.product_image.url, class: 'card-img-top'
    .card-body
      %h4.card-title
        = product.name
      %p.card-text
        = product.description
      %p.card-text
        = product.price
      = link_to '詳細', product_path(product), class: 'btn btn-outline-secondary'