.col-md-3.col-sm-6
  .card.m-2
    = image_tag product.index_image, class: 'card-img-top'
    .card-body
      %h4.card-title
        = product.name
      %p.card-text
        = "¥ #{product.price}"
        - if product.purchaser_id
          .text-danger.text-right{style: 'font-size: 20px;'}
            Sold Out
      .row
        = link_to '詳細', product_path(product), class: 'btn btn-outline-primary col-md-3 col-sm-4 col-3 mr-2'
        /出品者の場合
        - if @exhibitor
          - if product.purchaser_id
            = link_to 'メッセージ', speak_path(@product, message_type: 'after_purchased'), class: 'btn btn-outline-secondary col-md-3 col-sm-4 col-3 mr-2'
          - else
            = link_to '編集', edit_product_path(product), class: 'btn btn-outline-success col-md-3 col-sm-4 col-3 mr-2'
            = link_to '削除', product_path(product), method: :delete, data: { confirm: '削除してよろしいですか？' }, class: 'btn btn-outline-danger col-md-3 col-sm-4 col-3'
