.container.mt-5.w-50 
  = form_with model: @product, local: true do |f|
    = render 'layouts/error_messages'
    .form-group
      = f.label :name, '商品名'
      = f.text_field :name, class: 'form-control'
    .form-group
      = f.label :description, '説明'
      = f.text_area :description, class: 'form-control'
    .form-group
      = f.label :price, '価格'
      = f.number_field :price, class: 'form-control'
    .form-group
      = f.label :images, '画像（複数画像をアップロードする場合は多少時間がかかる恐れがあります'
      = f.file_field :images, multiple: true, class: 'form-control-file', accept: 'image/*'
    .select-boxes.form-group
      = f.label :category_id, 'カテゴリー'
      = f.select :category_id, options_for_select(@categories.map{|c| [c[:name], c[:id]]}),{}, class: 'form-control select-box', id: 'select-first'
    = f.button :submit, class: 'btn btn-primary'

= javascript_include_tag 'category.js'
  