.container
  .carousel.slide#carouselExampleControls{data: {ride: "carousel"}}
    .carousel-inner
      - @product.product_image.each_with_index do |p,i|
        %div{class: "carousel-item #{(i == 0)? 'active' : ''}"}
          = image_tag p.url, class: "d-block w-100", alt: 'product imagre'
    %a.carousel-control-prev{href: "#carouselExampleControls", role: "button", data: {slide: "prev"}}
      %span.carousel-control-prev-icon{aria: {hidden: "true"}}
      %span.sr-only
        Previous
    %a.carousel-control-next{href: "#carouselExampleControls", role: "button", data: {slide: "next"}}
      %span.carousel-control-next-icon{aria: {hidden: "true"}}
      %span.sr-only
        Next
  %table.table
    %tbody
      %tr
        %th{scope: 'row'}
          商品名
        %td
          = @product.name
      %tr
        %th{scope: 'row'}
          説明
        %td
          = @product.description
      %tr
        %th{scope: 'row'}
          値段
        %td
          = "¥ #{@product.price}"
  .btn.btn-bg.btn-primary 
    = link_to '質問をする', speak_path(@product), class: 'text-white', data: {"turbolinks" => false}
  - if @product.user_id != @current_user.id
    %button.btn.btn-success{type: "button", data: {toggle: "modal", target: "#exampleModal"}}
      購入に進む
.modal.fade{id: "exampleModal", tabindex: "-1", role: "dialog", aria: {labelledby: "exampleModalLabel", hidden:"true"}}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h5.modal-title#exampleModalLabel
          購入画面
        %button.colse{type: "button", data: {dismiss: "modal"}, aria: {label: "Close"}}
          %span{aria: {hidden: "true"}}
            &times;
      .modal-body
        %strong
          = "商品名: #{@product.name}"
          %br
          = "  価格: #{@product.price} 円"
        %p
          %br
          支払い方法は大学内で、現物との直接交換になります。
          %br
          購入確定後、出品者とのメッセージ画面に移行します。
          %br
          安全面を考慮し、大学内以外での受け渡しを行わないでください。
          %br
          また、大学構内でもひと気の少ない場所での受け渡しは極力避けるようお願いいたします
      .modal-footer
        %button.btn.btn-secondary{type: "button", data: {dismiss: "modal"}}
          Close
        = link_to '購入', purchase_path(@product), class: 'btn btn-success', type: "button"