%nav.navbar.navbar-expand-md.navbar-light.bg-light.sticky-top
  .container-fluid
    = link_to image_tag("logo.jpeg"), root_path, class: 'navbar-brand'
    %button.navnar-toggler{type: 'button', data: {toggle: 'collapse', target: '#navbarResponsive'}}
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarResponsive
      %ul.navbar-nav.ml-auto
        %li.nav-item.active
          = link_to 'Home', root_path, class: 'nav-link'
        %li.nav-item
          = link_to 'About', '#', class: 'nav-link'
        - if user_signed_in?
          %li.nav-item
            = link_to 'TKstore', products_path(category: {name: 'all'}), class: 'nav-link'
          %li.nav-item
            = link_to 'MyProducrs', myproducts_path, class: 'nav-link'
          %li.nav-item
            = link_to 'Signout', destroy_user_session_path, method: :delete, data: {confirm: 'Signoutしてよろしいですか？'}, class: 'nav-link'
        - else
          %li.nav-item
            = link_to 'Signin', new_user_session_path, class: 'nav-link'
          %li.nav-item
            = link_to 'Signup', new_user_registration_path, class: 'nav-link'