.container.w-50
  %h2 Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .form-group
      = f.label :name, '名前'
      %br/
      = f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control'
    .form-group
      = f.label :email
      %br/
      = f.email_field :email, autocomplete: "email", class: 'form-control'
    .form-group
      = f.label :password, 'パスワード'
      - if @minimum_password_length
        %em
          (#{@minimum_password_length}文字以上にしてください)
      %br/
      = f.password_field :password, autocomplete: "new-password", class: 'form-control'
    .form-group
      = f.label :password_confirmation, '確認のためもう一度お願いします'
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'
    .form-group
      = f.label :abatar, 'サムネイル'
      %br/
      = f.file_field :avatar, accept: 'image/*'
    .actions
      = f.submit "Sign up"
  = render "users/shared/links"
